@tailwind base;
@tailwind components;
@tailwind utilities;

.mask {
  -webkit-mask-image: url("/assets/sanskruti-logo.svg");
  mask-image: url("/assets/sanskruti-logo.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  display: inline-block;
}
